* {
    margin: 1px;
    padding: 1px;
}

body {
    background: #fff;
    color: #151515;
    font-family: Arial, Helvetica, sans-serif;
}

.translation_item {
    background-color: rgba(21, 21, 21, 0.05);
    border-radius: 20px;
    padding: 10px;
    min-width: 250px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.translation_item.selected {
    background-color: rgba(21, 21, 200, 0.1);
}

.translation_item.unselected:hover {
    background-color: rgba(0, 163, 71, 0.05);

}

.translation_item > h5 {
    color: #222;
}

.translation_item > p {
    font-size: 10px;
    margin: 0;
}

.translation_items {
    display: flex;
    width: auto;
}

.translation_item.neither > h5 {
    color: red;
    font-size: 15px;
}

.translation_item.neither > h5 {
    margin: auto;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

#root {
    transition: all 1s ease;
}